.box{
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
  backdrop-filter: blur();
}
.goal input{
  border-right:none !important;
  border: 2px solid black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.goal input:focus{
  box-shadow: none; 
  border-color: initial;
}
.goal button{
  border-left:none ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}